<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/images/nodeJs.svg" />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <title><%= typeof title != 'undefined' ? title : "" %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="contianer">
      <img src="/images/express.svg" alt="Express Logo" loading="lazy" />
      <div class="welcome">
        <p>Welcome To</p>
        <h1>Express Framework</h1>
        <p>With <span>Node.js</span></p>
      </div>
    </div>
  </body>
</html>
